* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333333;
    color: rgb(255, 255, 255);
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.body-content {
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: rgb(82, 82, 82);
    font-size: bold;
    flex: 1;
}

.content {
    background-color: rgb(198, 141, 141);
    flex: 5;
}