body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body-content {
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: rgb(250, 247, 247);
    font-size: bold;
    width: 280px;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: rgb(255, 255, 255);
    flex: 5;
}

.sidebar > div {
    font-size: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color:rgb(250, 247, 247);
    border: none;
    margin: 2px 7px;
    border-radius: 5px;
    font-weight: bold;
}

.project-button {
    display: flex;
    justify-content: space-between;
    background-color:rgb(250, 247, 247);
    border: none;
    margin: 2px 7px;
    border-radius: 5px;
}

.sidebar  div:hover {
    background-color: rgb(238, 238, 238); 
}

/*add project button*/
.add-project {
    width: 35px;
    height: 20px;
    border: none;
    background: none;
}

/*add and toggle button styling*/
.add-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.today-button,
.week-button,
.bell-settings {
    gap: 8px;
}

.today-button  > svg,
.week-button   > svg,
.profile-icon  > svg {
    width: 25px;
}

.profile-icon {
    display: flex;
    justify-content: space-between;
}

.bell-settings > svg {
    width: 23px;
}

.project-dialog {
    border: none;
    border-radius: 2px;
    height: 100px;
    font-weight: bold;
    width: 200px;
}

form {
    display: flex;
    flex-direction: column;
}

.cancel-add  button{
    font-weight: bold;

}

.project-subsection {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0;
}

.project-subsection span{
    font-weight: lighter;
    color: rgb(105, 105, 105);
    width: 265px;
    height: 50px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-project {
    display: flex;
    justify-content: space-around;
}

div #project-delete-button {
    width: 20px;
    height: 30px;
    cursor: pointer;
}